body {
  margin: 0;
  background: linear-gradient(to right, #141e30, #243b55);
}

.container {
  text-align: center;
  padding: 30px;
  font-family: "Segoe UI", sans-serif;
  color: #fff;
}

.container h1 {
  margin-left: -50px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  max-width: 700px;
  margin: auto;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.card {
  background: #ffffff;
  color: #333;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);

  width: 260px;
  height: 360px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.qty {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

button {
  padding: 7px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cart-btn {
  background: #ff9800;
  color: white;
}

.order-btn {
  background: #00e676;
  padding: 10px 20px;
  font-size: 16px;
}

.total {
  margin-top: 30px;
  font-size: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: white;
  color: #333;
  padding: 25px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
}

.popup button {
  margin: 10px;
  background: #2196f3;
  color: white;
}

.close {
  background: #f44336;
}
